:root {
    --main-color: rgb(64, 224, 176);
    --second-color: rgb(197, 83, 16);
    --third-color: rgb(201, 201, 4);
    --backgroundImage: url("../background_images/background15.jpg");
}

body{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

header{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 2em;
    padding: 1em;
    background-color: var(--main-color);
    border-radius: 10px;
}

header img {
    align-self: center;
    justify-self: center;
    max-height: 50%;
    width: auto;
}

main {
    display:  grid;
    align-self: center;
    justify-self: center;
}

footer {
    text-align: center;
}

footer img {
    display: inline;
    position: relative;
    max-height: 1em;
    width: auto;
    margin-right: 0.5em;
    margin-left: 0.5em;
    bottom: 0%;
}

/* footer h3 {
    height: 3em;
    width: auto;
} */