*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --main-color: rgb(64, 224, 176);
    --second-color: rgb(234, 134, 238);
    --third-color: rgb(201, 201, 4);
    --backgroundImage: url("../background_images/background9.jpg");
}


body {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    color: var(--main-color);
    font-family: Georgia;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 2% 25% 2% 25%;
    padding: 1em;
    background-color: red;
}

header img {
    height: 40svh;
    width: auto;
}

main {
    display: grid;
    grid-template-areas: 
        'section'
        'choice'
        'menu';
    justify-content: center;
    align-content: center;
    column-gap: 15vw;
    padding: 1rem;
}

h1 {
    font-size: calc(0.7rem + 3vw);
}


section {
    display: grid;
    grid-area: section;
    grid-template-areas: 
        'score'
        'arena';
    justify-content: center;
    align-items: center;
}

#scorerMarker {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
        'yo draw IA'
        'yo draw IA';
    grid-template-columns: auto auto auto;
    grid-area: score;
    justify-self: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 5vh ;
    padding: 2.5rem 0rem;
    width: 25em;
    height: 10em;
    /* background-color: rgb(218, 168, 60); */
    background: linear-gradient(to right, var(--main-color) 0%, var(--second-color) 50%, var(--second-color) 50%, var(--main-color) 100%);
    color: black;
    border: 3px solid black;
    border-radius: 15px;
}

.scoreImg {
    height: 3rem;
    width: auto;
}

.scores {
    border: 2px solid red;
    padding: 1em;
    border-radius: 25%;
}

#arena {
    grid-area: arena;
    display: grid;
    grid-template-areas: 
    'leftPlayer leftMark rightMark rightPlayer';
    grid-auto-flow: column ;
    grid-template-columns: auto auto auto auto;
} 


#divRight {
    grid-area: rightPlayer;
    border: black solid 3px;
    background-image: var(--backgroundImage);
    background-size: cover;
}


#divLeft {
    grid-area: leftPlayer;
    border: black solid 3px;
    background-image: var(--backgroundImage);
    background-size: cover;
}


@media only screen and (max-height: 720px), (min-height: 880px) {
    #divLeft, #divRight {
        border:var(--main-color) solid 3px;
    }
}


#divLeftMark {
    position: relative;
    grid-area: leftMark;
    align-self: self-end;
    left: -100%;
}

#divRightMark {
    position: relative;
    grid-area: rightMark;
    height: fit-content;
    right: -100%;
}

.divRPS {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 30vw;
    height: 45vh;
    min-width: 400px;
    min-height: 300px;
    /* overflow: hidden; */
    border-radius: 7px;

}

.xvMark {
    border: 4px solid rgb(171, 180, 201);
    border-radius: 5%;
    width: 70px;
    height: auto;
    z-index: -1;
}

.xvImg {
    position: relative;
    width: 70px;
    height: 70px;
    align-self: center;
}


img {
    object-fit: scale-down ;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    margin: auto;
    overflow: hidden;
}

/* 
.footer {
    display: grid;
    grid-auto-flow: column;
    grid-area: menu;
    background-color: var(--main-color);
    width: auto;
    height: 5lvh;
    justify-content: center;
    align-content: center;
} */


.menu {
    grid-area: choice;
    display: grid;
    justify-self: center;
    grid-template-areas: 
        'piedra papel tijera';
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 1em;
    height: 20vh;
    width: 45vw;
    background-color: var(--main-color);
    border-radius: 7px;
}

.menu img {
    border-radius: 50%;
}

/* .menu1 {
grid-area: piedra;
}

.menu2 {
grid-area: papel;
}

.menu2 {
grid-area: tijera;
} */

.menu ul{
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    margin: auto;
    gap: 3em;
}

.menu ul li {
    border-radius: 2px;
    margin: auto;
    
}

.menu ul li button {
    background-color: beige;
    color: var(--main-color);
    width: 100px;
    height: 100px;
    border-radius: 50% ;
    border: outset 2px rgb(27, 134, 98);
}

.menu ul li button:hover {
    transition-duration: 0.25s;
    cursor: pointer;
    color: red;
    border-color: red;
    box-shadow: 0 0 2em  rgb(202, 3, 3);
}

.menu ul li button:active {
    color: var(--main-color);
    background-color: beige ;
    border-style: none;
    box-shadow: inset 0 0 1em rgb(202, 3, 3);
}

/* .tryButton {
    margin: 5px;
    float: left;
    color: white;
    background-color: rgb(153, 233, 216) ;
    border: 3px outset rgb(29, 235, 190);
    border-radius: 5px;
    width: 10vw;
    height: 4vh;
}


.tryButton:hover{
    transition-duration: 0.4s;
    cursor: pointer;
    color: red;
    background-color: var(--main-color);
    border: hidden;
    box-shadow:  0px 0px 0px 0px rgba(255, 0, 43, 0.24), 4px 4px 15px 5px rgba(255, 0, 43, 0.6);
}


.tryButton:active {
    box-shadow: inset 0px 0px 15px 5px rgba(255, 0, 43, 0.6);
} */
