*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --main-color: rgb(64, 224, 176);
    --second-color: rgb(15, 160, 179);
    --third-color: red;
    --backgroundImage: url("../background_images/background15.jpg");
    --banner-size: 8vmin;
    --arena-size: 40vmin;
}

html {
    height: 100dvh;
    width: auto;
}

body {
    display: grid;
    grid-template-rows: 1fr;
    background-color: rgb(255, 255, 255);
    color: var(--second-color);
    height: auto;
    width: 97vw;
}

main {
    display: grid;
    grid-template-areas: 
        'section'
        'menu';
    align-items: center;    
    column-gap: 10vw;
    padding: 1rem;
}

section {
    display: grid;
    grid-area: section;
    grid-template-areas: 
        'score'
        'arena';
    justify-content: center;
    align-items: end;
}

.scorerMarker {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
        'yo draw IA'
        'yo draw IA';
    grid-template-columns: auto auto auto;
    grid-area: score;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-self:center;
    align-self: end;
    margin-top: 2em ;
    padding: 2.5rem 0rem;
    width: auto;
    height: 20vh;
    min-width: 60%;
    max-width: max-content;
    background: linear-gradient(to right, var(--main-color) 0%, var(--second-color) 50%, var(--second-color) 50%, var(--main-color) 100%);
    color: black;
    border: 3px solid black;
    border-radius: 15px;
}

.scoreImg {
    height: 6rem;
    width: auto;
}

.scores {
    border: 2px solid var(--third-color);
    padding: 1em;
    border-radius: 25%;
    font-size: 2em;
}

.arena {
    grid-area: arena;
    display: grid;
    grid-template-areas:
    'myName nada nada compName'
    'leftPlayer leftBanner rightBanner rightPlayer';
    grid-auto-flow: column ;
    max-width: 97vw;
} 

.myName {
    position: relative;
    display: grid;
    grid-area: myName;
    background-color: black;
    color: white;
    height: max-content;
    width: max-content;
    max-width: var(--arena-size);
    border-radius: 8px;
    justify-self: center;
    text-align: center ;
    padding: 0.5em;
    /* z-index: 2; */
}

.compName {
    position: relative;
    display: grid;
    grid-area: compName;
    background-color: black;
    color: var(--third-color);
    height: max-content;
    width: max-content;
    max-width: var(--arena-size);
    border-radius: 8px;
    padding: 0.5em;
    justify-self: center;
    text-align: center ;
    /* z-index: 1; */
}


#divRight {
    grid-area: rightPlayer;
    border: rgb(24, 136, 93) solid 3px;
    background-image: var(--backgroundImage);
    background-size: cover;
    width: var(--arena-size);
    height: var(--arena-size);
}

#divLeft {
    place-self: end;
    grid-area: leftPlayer;
    border: black solid 3px;
    background-image: var(--backgroundImage);
    background-size: cover;
    width: var(--arena-size);
    height: var(--arena-size);
}




#leftBanner {
    position: relative;
    grid-area: leftBanner;
    align-self: self-end;
    place-self: end;
    left: var(-(--banner-size));
    width: var(--banner-size);
    height: var(--banner-size);
}

#rightBanner {
    position: relative;
    grid-area: rightBanner;
    right: var(-(--banner-size));
    width: var(--banner-size);
    height: var(--banner-size);
}


.divRPS {
    display: grid;
    justify-content: center;
    align-content: center;
    width: var(--arena-size);
    height: var(--arena-size);
    /* overflow: hidden; */
    border-radius: 5px;
}

.divRPS img {
    min-height: 60vmin;
    border-radius: 5px;
    overflow: hidden;
}

.xvMark {
    border: 4px solid rgb(171, 180, 201);
    border-radius: 5%;
    width: var(--banner-size);
    height: var(--banner-size);
    z-index: -1;
}

.xvImg {
    position: relative;
    width: 100%;
    height: auto;
    align-self: center;
}


img {
    object-fit: scale-down ;
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    margin: auto;
    overflow: hidden;
}

.menu {
    grid-area: menu;
    display: grid;
    justify-self: center;
    grid-template-areas: 
    'piedra papel tijera';
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 2em;
    padding: 1em;
    height: auto;
    width: 40%;
    background-color: var(--main-color);
    border-radius: 7px;
}

.menu img, .menu button {
    border-radius: 50%;
}

.menu button {
    background-color: beige;
    color: var(--main-color);
    width: 100px;
    height: 100px;
    margin: 2em;
    border-radius: 50% ;
    border: outset 2px rgb(27, 134, 98);
}

.menu button:hover {
    transition-duration: 0.25s;
    cursor: pointer;
    color: red;
    border-color: red;
    box-shadow: 0 0 2em  rgb(202, 3, 3);
}

.menu button:active {
    color: var(--main-color);
    background-color: beige ;
    border-style: none;
    box-shadow: inset 0 0 1em rgb(202, 3, 3);
}

@media only screen and (max-width: 1150px){
    main {
        display: grid;
        grid-template-areas: 
        'section'
        'menu';
        align-items: center;    
    }
    section {
        display: grid;
        grid-area: section;
        grid-template-areas: 
        'score'
        'arena'
        'arena'
        'arena'
        'arena';
        justify-content: center;
        align-items: center;
        height: 80vh;
    }
    .scorerMarker {
        width: auto;
        height: 15vh;
        min-height: max-content;
        min-width: 60%;
        align-self: end;
    }
    .arena {
        display: grid;
        grid-area: arena;
        grid-auto-flow: row;
        grid-template-areas: 
        'myName nada'
        'leftPlayer leftBanner'
        'nada compName'
        'rightBanner rightPlayer';
        width: 100vw;
    } 

    .myName {
        grid-area: myName;
    }
    #divLeft {
        grid-area: leftPlayer;
    }
    #leftBanner {
        grid-area: leftBanner;
    }
    .compName{
        grid-area: compName;
        grid-row: 2;
    }
    #rightBanner {
        grid-area: rightBanner;
        /* align-self: end; */
        place-self: start;
        grid-row: 3 / span 2;
    }
    #divRight {
        grid-area: rightPlayer;
        border: rgb(180, 11, 11) solid 3px;
        place-self: end;
        grid-row-start: 3;
    }
}
/* 
.tryButton:active {
    box-shadow: inset 0px 0px 15px 5px rgba(255, 0, 43, 0.6);
}
 */
